html { 
  background: url(https://static.pexels.com/photos/235994/pexels-photo-235994.jpeg) no-repeat center fixed; 
  background-size: cover;
}

body {
  font-family: source sans pro;
  font-size: 20px;
  color: #262626
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
      color: black;
      background-color: LightBlue;
    	}

.nav-pills > li.active > a:hover {
       background-color: LightSlateGray;
       color:black;
       }


.well {
      border-radius: 0px;
      	}

.btn {
  border-radius: 0px;
}
